<div class="row search-container grey lighten-4">
    <div class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix"><a data-position="top" data-tooltip="Menu" data-target="slide-out"
                        class="tooltipped sidenav-trigger pink-text text-lighten-2">menu</a></i>
                <input type="text" id="autocomplete-input" class="autocomplete">
                <label id="autocomplete-label" class="tooltipped" data-position="top" data-tooltip="Search"
                    for="autocomplete-input"><i class="material-icons">search</i></label>
                <a id="clear-search" class="tooltipped" data-position="top" data-tooltip="Clear Search"><i
                        class="material-icons pink-text text-lighten-2">close</i></a>
            </div>
        </div>
    </div>
</div>