<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" crossorigin="anonymous">
    <link rel="stylesheet"  href="https://fonts.googleapis.com/icon?family=Material+Icons" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/logo.svg') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
    {% block head %}{% endblock %}
<script>
    var _paq = window._paq = window._paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matomo.manjaro.org/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '3']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>  
</head>
<body class="{% block bodyClass %}{% endblock %}">
    {% include 'includes/info-modals.html' %}
    {% include 'includes/navigation.html' %}
    {% block content %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/discover.js') }}"></script>
    <ul id="install-list" class="collapsible">
        <li>
          <div class="collapsible-header blue-grey darken-4"><i class="material-icons">archive</i>Software
            <span id="items-count" class="new badge red">4</span>
            <a href="#" onclick="install(this)" id="install-btn" data-position="left" data-tooltip="install" class="pulse tooltipped waves-effect waves-light btn-small btn-floating"><i class="material-icons">install_desktop</i></a>
          </div>
          <div class="collapsible-body"></div>
        </li>
    </ul>
</body>
</html>
