<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" crossorigin="anonymous">
    <link rel="stylesheet"  href="https://fonts.googleapis.com/icon?family=Material+Icons" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/apple-icon.png') }}">
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
    <meta name="google-site-verification" content="v6PClftSd5zHZAuSJyRpCl1fewbsYfYDp2-opMdPPXE" />
    {% block head %}{% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %} {% if title %}{{ title.lower() | replace(' & ', '-') | replace(' ', '-') }}{% endif %}">
   <script type="text/javascript">
        var _paq = window._paq || [];
        _paq.push(['disableCookies']);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u = "//matomo.manjaro.org/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    {% include 'includes/info-modals.html' %}
    {% include 'includes/navigation.html' %}
    {% block content %}{% endblock %}
    <script>
        function getOS() {
            var userAgent = window.navigator.userAgent,
                platform = window.navigator.platform,
                macosPlatforms = ['Darwin', 'Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
                windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
                iosPlatforms = ['iPhone', 'iPad', 'iPod'],
                os = null;

            if (macosPlatforms.indexOf(platform) !== -1) {
                os = 'MacOS';
            } else if (iosPlatforms.indexOf(platform) !== -1) {
                os = 'iOS';
            } else if (windowsPlatforms.indexOf(platform) !== -1) {
                os = 'Windows';
            } else if (/Android/.test(userAgent)) {
                os = 'Android';
            } else if (/Ubunto/.test(userAgent)) {
                os = 'Ubunto';
            } else if (!os && /Linux/.test(platform)) {
                os = 'Linux';
            }
            return os;
        }
        let os = getOS()
        if (os != "Linux") {
            Array.from(document.querySelectorAll(".btn-add"))
                .forEach(function (el) {
                    el.style.display = "none"
                })
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/discover.js') }}"></script>
    <ul id="install-list" class="collapsible">
        <li>
          <div class="collapsible-header blue-grey darken-4"><i class="material-icons">archive</i>Software
            <span id="items-count" class="new badge red">4</span>
            <a href="#" onclick="install(this)" id="install-btn" data-position="left" data-tooltip="install" class="pulse tooltipped waves-effect waves-light btn-small btn-floating"><i class="material-icons">install_desktop</i></a>
        </div>
            <div class="collapsible-body">
                <span style="text-align: center;">
                    
                </span>
                <span>
                    <h6>Package</h6>
                    <form id="package" action="#"><p>None Selected</p></form>
                </span>
                <span>
                    <h6>Snap</h6>
                    <form id="snap" action="#"><p>None Selected</p></form>
                </span>
                <span>
                    <h6>Flatpak</h6>
                    <form id="flatpak" action="#"><p>None Selected</p></form>
                </span>
                <span>
                    <h6>Appimage</h6>
                    <form id="appimage" action="#"><p>None Selected</p></form>
                </span>
            </div>
        </li>
    </ul>
</body>
</html>