{% extends 'base.html' %}
{% block content %}
<main class="p-sm-0 p-md-5 pt-5">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-6 col-12-sm">
                <h3 class="display-4">Pamac</h3>
                <hr class="my-4">
                <p class="lead">All in one, Software-Center and package-management tool. Supports Operating System
                    native packages, Snaps
                    and Flatpaks.</p>
                <hr class="my-4">
                <p>Multiple interfaces for your favorite Desktop, a CLI for shell lovers and built in support for AUR
                    packages, Included by default on any flavour.
                </p>
                <hr class="my-4">
                <p>This website is powered by Pamac.
                    </p>
            </div>
            <div class="col text-center"><img class="rounded" src="static/images/pamac.jpg" alt="Pamac image"></div>
        </div>
    </div>
    <div class="row">
        {% for app in apps %}
        {% set icon = app.get_icon() %}
        {% set description = app.get_desc() %}
        <div class="col-xl-3 col-md-6 col-sm-12 app">
            {% if loop.index <= 4 %}
            <img src="{{ icon | replace('/usr/share/app-info', '/static/images/appstream') }}" class="img64" alt="application image"
                loading="lazy">
            {% endif %}
            {% if loop.index > 4 %}
            <img src="static/images/logo.svg" data-src="{{ icon | replace('/usr/share/app-info', '/static/images/appstream') }}"
                class="img64 lazyload" alt="application image" loading="lazy">
            {% endif %}
            <div class="img-overflow-hidden">
                    <div class="content">
                        <h4 class="name">{{ name }}</h4>
                        <p class="description">{{ description }}</p>
                    </div>
                </div>
        </div>
        {% if loop.index == 4 %}
        <div class="jumbotron col-12">
            <div class="row">
                <div class="col-lg-6 col-12-sm">
                    <h3 class="display-4">Multiple office software</h3>
                    <hr class="my-4">
                    <p class="lead">Struggling with your Office suite? we are packed with Office choices, you will
                        definitely find something that suits you.</p>
                    <hr class="my-4">
                    <p>From the best Open Source software has to offer and also some proprietary choices.</p>
                </div>
                <div class="col text-center"><img class="rounded" src="static/images/office.jpg"
                        alt="Office image" loading="lazy"></div>
            </div>
        </div>
        {% endif %}
        {% if loop.index == 8 %}
        <div class="jumbotron col-12">
            <div class="row">
                <div class="col-lg-6 col-12-sm">
                    <h3 class="display-4">Layout Switcher</h3>
                    <hr class="my-4">
                    <p class="lead">If you love Gnome, now you can change your layout in one click.</p>
                    <hr class="my-4">
                    <p>This is still being worked on, so you may still find some bugs, use at your own risk, and please
                        report them.</p>
                </div>
                <div class="col text-center"><img class="rounded lazyload" data-src="static/images/layout.jpg"
                        alt="Layout image" loading="lazy"></div>
            </div>
        </div>
        {% endif %}
        {% if loop.index == 12 %}
        <div class="jumbotron col-12">
            <div class="row">
                <div class="col-lg-6 col-12-sm">
                    <h3 class="display-4">Settings Manager</h3>
                    <hr class="my-4">
                    <p class="lead">No more messing around with configuration files, manage your settings with ease.</p>
                    <hr class="my-4">
                    <p>Besides doing all the basics, you can also change your Kernel or Graphic drivers between
                        proprietary and Open Source, It also integrates with your desktop of choice.</p>
                </div>
                <div class="col text-center"><img class="rounded lazyload" data-src="static/images/msn.jpg"
                        alt="MSN image" loading="lazy"></div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
</main>
<footer class="row py-4 bg-dark text-white-50">
    <div class="col-sm-12 col-md-5 col-lg-4 offset-sm-1 offset-md-2 offset-lg-3">
        <span>&COPY; 2011 - 2020 
                <a href="https://manjaro.org">
                    Manjaro Linux
                  </a></span>
                  <br>
                  <span>Manjaro Logo is Trademark of Manjaro GmbH & Co. KG.</span>
                  <br>
                  <span>SnapCraft and Logo is Copyright of Canonical Ltd.</span>
                  <br>
                  <span>Application Logos are Copyright of respective Authors.</span>

    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 offset-sm-1">
            <a href="https://manjaro.org/privacy-policy/">
                <span>Privacy Policy</span>
              </a>
              <br>
              <a href="https://manjaro.org/terms-of-use/">
                <span>Terms of Use</span>
            </a>
            <br>
            <a href="https://manjaro.org/imprint/">
                <span>Imprint</span>
            </a>
    </div>
</footer>
{% endblock %}