{% extends 'base.html' %}
{% block content %}
<main class="single-package p-md-5 pt-5">
    <div class="container">
        {% set name = pkg.get_app_name() %}
        {% if not name %}
        {% set name = pkg.get_name() %}
        {% endif %}
        {% set icon = pkg.get_icon() | replace('/var/lib/flatpak/appstream/flathub/x86_64/active/icons/64x64/', '/static/images/appstream/flathub/') %}
        {% if not icon %}
        {% set icon = "/static/images/package.svg" %}
        {% endif  %}
        {% set screenshots = pkg.get_screenshots() %}
        {% set pkg_name = pkg.get_name() %}

        <div class="row">
            <div itemscope itemtype="http://schema.org/SoftwareApplication" class="col-sm-12 col-md-4">
                <div><img itemprop="image" src="{{ icon }}" class="img64" alt="flatpak image"></div>
                <h4 itemprop="name" >{{ name }}</h4>
                <p class="small">
                    Version: <span itemprop="softwareVersion" class="text-info small">{{ pkg.get_version() }}</span>
                    <br>
                    {{ link | safe }}
                </p>
                <p class="small">
                    Installing:
                    <br>
                    <code>flatpak install flathub {{ pkg_name }}</code>
                    <br><br>
                    Removing:
                    <br>
                    <code>flatpak remove {{ pkg_name }}</code></p>
            </div>
            {% include 'includes/single-footer.html' %}
        </div>
    </div>
</main>
{% endblock %}