{% extends 'base.html' %}
{% block bodyClass %}single-package{% endblock %}
{% block content %}
<main>
    <div class="container">
        {% if pkg.title %} 
        {% set name = pkg.title %}
        {% else %}
        {% set name = pkg.name %} 
        {% endif %} 
        {% set icon = pkg["icon"] %} 
        {% if not icon %} 
        {% set icon = "/static/images/package.svg" %} 
        {% endif %} 
        {% if pkg["screenshots"] != None %}
          {% set screenshots = pkg["screenshots"].split(" ") %}
        {% else %}
          {% set screenshots = pkg["screenshots"] %}
        {% endif %}
        {% set licenses = pkg["license"].split(" ") %} 
        {% set pkg_name = pkg["name"] %} 
        {% set version = pkg["version"] %}
        {% if pkg["long_description"] %}
        {% set description = pkg["long_description"] %}
        {% else %}
        {% set description = pkg["description"] %}
        {% endif %}
        <div class="center">
            <h1 class="white-text"><img src="{{ icon }}" class="single-icon" alt="package image">{{ name }}</h1>
        </div>
        {% if screenshots %}
        <div class="row">
            <div class="col s12">
                <div class="carousel carousel-slider center">
                    {% for img in screenshots %}
                    <a class="carousel-item"><img onerror="this.parentElement.parentElement.parentElement.remove()" src="{{ img }}"></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col s12 l8">
                <p class="grey lighten-5">
                    Description<br><br>{{ description }}
                </p>
            </div>
            <div class="col s12 l4 details">            
                <p class="grey lighten-5">
                    <span class="center" style="display: block;margin-bottom: 15px;">
                        {% if pkg["pkg_format"] == "native" %}
                        <button data-target="details" class="pkg-details-btn tooltipped waves-effect waves-light btn-small modal-trigger light-blue darken-2" data-position="top" data-tooltip="Details">
                            <i class="material-icons">info</i>
                        </button>
                        {% endif %}
                        <button class="btn btn-small tooltipped btn-add waves-effect waves-light deep-purple darken-1" data-position="top" data-tooltip="Install"
                        data-pkg="{{ pkg_name }}" data-title="{{ name }}" data-format="{{ pkg['pkg_format'] }}" onclick="addApp(this)">
                            <i class="material-icons">add</i>
                        </button>
                    </span>
                    <span>
                        Licenses: <span class="text-info">
                            {% for license in licenses %} 
                              {% if "http" in license %}
                                <a target="_blank" href='{{ license.split("=")[1] }}'>{{ license.split("=")[1] }}</a>
                              {% else %}
                                {{ license.replace("LicenseRef-", "").replace("-only", "") }} 
                              {% endif %}
                            {% endfor %} </span>
                        <br>{% if pkg["pkg_format"] == "native" %}<a target="_blank" href='https://manjaro.org/branch-compare/?query={{ pkg_name }}'>Compare</a>{% endif %} Version: <span class="text-info">{{ version }}</span>
                        <br> {% if pkg["download_size"] !=0 %}
                        Download Size: <span class="text-info">{{ pkg["download_size"] }}</span>
                        <br> {% endif %} 
                        {% if pkg["url"] and "mailto" not in pkg["url"] %}
                        <a target="_blank" href="{{ pkg['url'] }}">{{ pkg["url"] }}</a>
                        <br><br>
                        {% endif %} 
                        {{ link | safe }}
                    </span>
                    <span>
                        Installing:
                        <br>
                        <code>{% if pkg["pkg_format"] == "native" %}pamac{% else %}{{ pkg["pkg_format"] }}{% endif %} install {{ pkg_name }}</code>
                        <br><br> Removing:
                        <br>
                        <code>{% if pkg["pkg_format"] == "native" %}pamac{% else %}{{ pkg["pkg_format"] }}{% endif %} remove {{ pkg_name }}</code>
                    </span>
                </p>
                {% if pkg["pkg_format"] == "native" %}
                {% include 'includes/package-details.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
<img class="background" src="/static/images/background.svg">
{% endblock %}