{% extends 'base.html' %}
{% block content %}
<main class="single-package p-md-5 pt-5">
    <div class="container">
        {% set name = pkg["app_name"] %}
        {% if not name %}
        {% set name = pkg["name"] %}
        {% endif %}
        {% set icon = pkg["icon"] %}
        {% if not icon %}
        {% set icon = "/static/images/package.svg"  %}
        {% endif  %}
        {% if pkg["screenshots"] %}
        {% set screenshots = pkg["screenshots"].split(" ") %}
        {% endif %}
        {% set licenses = pkg["license"] %}
        {% set pkg_name = pkg["name"] %}
        {% set version = pkg["version"] %}

        <div class="row">
            <div itemscope itemtype="http://schema.org/SoftwareApplication" class="col-sm-12 col-md-4">
                <div><img src="{{ icon }}" class="img64" alt="package image"></div>
                <a href="#" class="back-button"><i class="fas fa-chevron-circle-left"></i></a>
                <h4 itemprop="name" >{{ name }}</h4>
                <p class="small">
                    Licenses: <span class="text-info">{% for license in licenses %} {{ license }} {% endfor %}</span>
                    <br>
                    Version: <span itemprop="softwareVersion" class="text-info">{{ version }}</span>
                    <br>
                    {% if pkg["download_size"] !=0 %}
                    Download Size: <span class="text-info">{{ pkg["download_size"] }}</span>
                    <br>
                    {% endif %}
                    {% if pkg["url"] %}
                    <a target="_blank" href="{{ pkg[" url"] }}">{{ pkg["url"] }}</a>
                    <br>
                    {% endif %}
                    {{ link | safe }}
                    <br>
                    {% include 'includes/package-details.html' %}
                </p>
                <p class="small">
                    Installing:
                    <br>
                    <code>pamac install {{ pkg_name }}</code>
                    <br><br>
                    Removing:
                    <br>
                    <code>pamac remove {{ pkg_name }}</code>
                    </p>
            </div>
            {% include 'includes/single-footer.html' %}
        </div>
    </div>
</main>
{% endblock %}