{% extends 'base.html' %}
{% block content %}
<main class="single-package p-md-5 pt-5">
    <div class="container">
        {% set name = pkg.get_app_name() %}
        {% if not name %}
        {% set name = pkg.get_name() %}
        {% endif %}
        {% set icon = pkg.get_icon() | replace('/usr/share/app-info', '/static/images/appstream') %}
        {% if not icon %}
        {% set icon = "/static/images/package.svg"  %}
        {% endif  %}
        {% set screenshots = pkg.get_screenshots() %}
        {% set licenses = pkg.get_licenses() %}

        <div class="row">
            <div itemscope itemtype="http://schema.org/SoftwareApplication" class="col-sm-12 col-md-4">
                <div><img itemprop="image" src="{{ icon }}" class="img64" alt="application image"></div>
                <h4 itemprop="name" >{{ name }}</h4>
                <p class="small">
                    Licenses: <span class="text-info small">{% for license in licenses %} {{ license }}{% endfor %}</span>
                    <br>
                    Version: <span itemprop="softwareVersion" class="text-info small">{{ pkg.get_version() }}</span>
                    <br>
                    {{ link | safe }}
                    <br>                    
                </p>
                <p class="small">
                    Installing:
                    <br>
                    <code>pamac install {{ pkg_name }}</code>
                    <br>
                    <code>pacman -S {{ pkg_name }}</code>
                    <br><br>
                    Removing:
                    <br>
                    <code>pamac remove {{ pkg_name }}</code>
                    <br>
                    <code>pacman -R {{ pkg_name }}</code></p>
            </div>
            {% include 'includes/single-footer.html' %}
        </div>
    </div>
</main>
{% endblock %}