<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Manjaro Application Discovery - {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}
</head>
<body class="{{ title.lower() | replace(' & ', '-') }}">
<header class="navbar navbar-expand-sm fixed-top">
    <a href="/" class="logo navbar-brand"><img src="/static/images/logo.svg"></a>
    <h1 class="" href="#">Manjaro Software Discovery<span>&nbsp//&nbsp</span></h1><h2>{{ title }}<span>&nbsp&nbsp{{ total }}</span></h2>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://manjaro.org">manjaro.org</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://manjaro.org/download/">downloads</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://forum.manjaro.org">forum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://wiki.manjaro.org">wiki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://gitlab.manjaro.org">gitlab</a>
            </li>
        </ul>
    </div>
</header>
<nav id="sidebar">
    <ul class="list-unstyled components">
        <form class="form-inline">
            <input id="search" class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
        {% for item in nav %}
        <li>
            <a class="" href="{{ item.href }}">{{ item.title }}</a>
            {% endfor %}
        </li>
    </ul>
</nav>
{% block content %}
{% endblock %}
</body>
<script>
        if ('loading' in HTMLImageElement.prototype) {
            const images = document.querySelectorAll("img.lazyload");
            images.forEach(img => {
                img.src = img.dataset.src;
            });
        } else {
            // Dynamically import the LazySizes library
          let script = document.createElement("script");
          script.async = true;
          script.src =
            "https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.1.8/lazysizes.min.js";
          document.body.appendChild(script);
        }
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
</html>