<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    {% block head %}
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/apple-icon.png') }}">
    <meta name="description" content="Discover and explore any Linux Software within Manjaro, supports native applications search, packages, snaps and flatpacks.">
    <title>Discover Software Within Manjaro - {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% endblock %}
</head>
<body class="{{ title.lower() | replace(' & ', '-') }}">
    <header class="navbar navbar-expand fixed-top">
        <span class="logo navbar-brand"><img src="/static/images/logo.svg" alt="Pamac image"></span>
        <h2>Discover Software<span>&nbsp//&nbsp</span></h2>
        <h1>{{ title }}<span>&nbsp&nbsp{{ total }}</span></h1>
        <form class="search-box">
            <input id="search" type="search" placeholder="Search {{ title }}" aria-label="Search {{ title }}">
        </form>
        <button class="search-icon"><i class="fas fa-search" type="button" aria-controls="SearchSupportedContent" aria-expanded="false" aria-label="Toggle search"></i></button>
        <button class="navbar-toggler collapsed" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
    </header>
    <nav id="sidebar">
        <ul class="list-unstyled components">
            
            {% for item in nav %}
            <li>
                <a href="{{ item.href }}">{{ item.title }}</a>
            </li>
            {% endfor %}
            <li>
                <a href="https://manjaro.org">manjaro.org</a>
            </li>
            <li>
                <a href="https://manjaro.org/download/">downloads</a>
            </li>
            <li>
                <a href="https://forum.manjaro.org">forum</a>
            </li>
            <li>
                <a href="https://wiki.manjaro.org">wiki</a>
            </li>
            <li>
                <a href="https://gitlab.manjaro.org">gitlab</a>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
<script>
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<script src="{{ url_for('static', filename='js/js.js') }}"></script>
</html>