{% extends 'base.html' %}
{% block content %}
<main class="p-4 p-md-5 pt-5">
    <div id="search-items" class="row">
        {% for app in apps %}
        <div class="col-xl-3 col-md-6 col-sm-12 app">
            {% set pkg_name = app.get_name() %}
            {% set description = app.get_desc() %}
            {% set icon = "/static/images/package.svg"  %}
            <img src="{{ icon }}" class="img64" alt="package image">
            <div class="img-overflow-hidden">
                    <div class="content">
                        <h4 class="name">{{ pkg_name }}</h4>
                        <p class="description">{{ description }}</p>
                        <span class="keywords" style="display:none;">{{ pkg_name }}</span>
                    </div>
                    <a href="/packages/{{ pkg_name }}" target="_blank" style="" role="button" class="">More Info</a>
                </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}