{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<main class="single-package p-4 p-md-5 pt-5">
    <div class="container">
        {% set name = pkg.get_app_name() %}
        {% if not name %}
        {% set name = pkg.get_name() %}
        {% endif %}
        {% set icon = pkg.get_icon() | replace('/usr/share/app-info', '/static/images/appstream') %}
        {% if not icon %}
        {% set icon = "/static/images/package.svg"  %}
        {% endif  %}
        {% set description = pkg.get_long_desc() %}
        {% if not description %}
        {% set description = pkg.get_desc() %}
        {% endif %}
        {% set screenshots = pkg.get_screenshots() %}
        {% set licenses = pkg.get_licenses() %}
        {% set pkg_name = pkg.get_name() %}

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div><img src="{{ icon }}" class="img64" alt="package image"></div>
                <h4>{{ name }}</h4>
                <p class="small">
                    Licenses: <span class="text-info small">{% for license in licenses %} {{ license }}{% endfor %}</span>
                    <br>
                    Version: <span class="text-info small">{{ pkg.get_version() }}</span>
                </p>
                <p class="small">
                    Installing:
                    <br>
                    <code>pamac install {{ pkg_name }}</code>
                    <br>
                    <code>pacman -S {{ pkg_name }}</code>
                    <br><br>
                    Removing:
                    <br>
                    <code>pamac remove {{ pkg_name }}</code>
                    <br>
                    <code>pacman -R {{ pkg_name }}</code></p>
            </div>
            <div id="carousel" class="col-sm-12 col-md-8 carousel slide"
                style="{% if screenshots | length <= 1 %} margin-top:-6px !important;{% endif %}" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% if screenshots | length > 1 %}
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    {% if not screenshots %}
                    <li data-target="#carousel" data-slide-to="1" class="active"></li>
                    {% else %}
                    {% for shot in screenshots %}
                    <li data-target="#carousel" data-slide-to="{{ loop.index }}"
                        class="{% if loop.index == 1 %}active{% endif %}"></li>
                    {% endfor %}
                    {% endif %}
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    {% endif %}
                </ol>
                <div class="carousel-inner">
                    {% if not screenshots %}
                    <div class="carousel-item active">
                            <img class="d-block w-100" src="/static/images/no-screenshoot.png" alt="package image">
                        </div>
                    {% else %}
                    {% for shot in screenshots %}
                    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                        <img class="d-block w-100" src="{{ shot }}" alt="package image">
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12 col-lg-8">
                <p class="description">{{ description }}</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}