{% extends 'base.html' %}
{% block content %}
<main class="p-4 p-md-5 pt-5">
    <div id="search-items" class="row">
        {% for category in categories %}
        
            {% set cat = database.get_category_snaps(category) %}
            {% for app in cat %}

                {% set name = app.get_app_name() %}
                {% set pkg_name = app.get_name() %}
                {% set description = app.get_desc() %}
                {% set icon = app.get_icon() %}
                {% if not icon %}
                {% set icon = "/static/images/snapcraft.svg" %}
                {% endif %}
                <div class="col-xl-3 col-md-6 col-sm-12 app">
                    {%if loop.index <= 30 %}
                    <img src="{{ icon }}" class="img64" alt="application image"
                        loading="lazy">
                    {% endif %}
                    {% if loop.index > 30 %}
                    <img src="/static/images/snapcraft.svg" data-src="{{ icon }}" class="img64 lazyload"
                        alt="application image" loading="lazy">
                    {% endif %}
                    <div class="img-overflow-hidden">
                            <div class="content">
                                <h4 class="name">{{ name }}</h4>
                                <p class="description">{{ description }}</p>
                                <span class="keywords" style="display:none;">{{ pkg_name }}</span>
                            </div>
                            <a href="/snaps/{{ pkg_name }}" target="_blank" style="" role="button" class="">More Info</a>
                        </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</main>
{% endblock %}