.navbar-nav {
    right: 16px;
    position: absolute;
}

.navbar-nav a {
    color: white;
}

h1 {
    font-size: 1.2rem !important;
    color: white;
}

.logo img {
    height: 40px;
    width:40px;
}

.navbar {
    background-color: #32373d;
}

.form-control {
    margin: 0 auto;
    width: 200px !important;
}

img {
    float: left;
    margin-right: 10px;
}

#sidebar {
    min-width: 240px;
    max-width: 240px;
    background: #32373d;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: relative;
    min-height: 100vh;
    position: fixed;
    top: 56px;
}

main {
    margin-left: 240px;
    margin-top: 43px;
}

#sidebar ul li {
    font-size: 16px;
}

#sidebar ul li.active>a {
    background: 0 0;
    color: #fff;
}

#sidebar ul li a {
    padding: 15px 30px;
    display: block;
    color: rgba(255, 255, 255, .6);
    border-bottom: 1px solid rgba(255, 255, 255, .05);

}

.app {
    margin-bottom: 80px;
}

.app .description {
    font-size: 0.8rem;
}

h3 {
    font-size: 1.35rem !important;
}