.navbar-nav {
    right: 16px;
    position: absolute;
}

body {
    background-image: url("/static/images/tux.svg");
    background-repeat: no-repeat;
    background-position: bottom 0 left -12px;
    background-size: 60px;
    background-attachment: fixed;
    background-color: #fafafa !important;
    font-family: 'Exo 2', sans-serif !important;
    overflow-x: hidden;
    cursor: progress; 
}

.featured .row,
footer {
    margin-left: 0;
    margin-right: 0;
}

.img64 {
    width: 64px;
    filter: drop-shadow(1px 1px 1px black);
}

header {
    height: 42px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 1px 1px black;
}

header img {
    margin-right: 0 !important;
}

#search {
    border-radius: none !important;
    padding: 3px;
    margin: 0 auto;
    width: 90% !important;
    background-color: transparent;
    border: 1px solid #e91e63;
    outline: none;
    color: #d8d6d6;
    padding-left: 10px;
    padding-right: 10px;
}

.search-box {
    position: absolute;
    right: 32px;
}

.search-icon:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    right: 44px;
}

.featured .search-icon {
    display: none;
}

#search::placeholder {
    color: #d8d6d6;
    opacity: 1;
}

#search:focus {
    border-color: #009688 !important;
    box-shadow: none !important;
}

.featured #search {
    display: none;
}

.navbar-nav a {
    color: white;
}

h1,
h2 {
    font-size: 0.9rem !important;
    color: white;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 6px !important;
    font-weight: bold !important;
}

h1 a,
h1 a:hover,
h1 a:active,
h1 a:focus {
    color: white;
    color: rgba(255, 255, 255, 0.9);
}

h1 span,
h2 span {
    color: #e91e63;
}

h3 {
    font-size: 2rem !important;
}

.logo img {
    width: 20px;
}

.navbar-toggler {
    margin: 5px;
    display: block !important;
    position: absolute;
    right: 0;
    top: 1px;
}

.search-icon {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    background: transparent;
    border: none;
}

.search-icon [type="button"] {
    -webkit-appearance: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler .fas {
    cursor: pointer;
    animation: pulse 2s infinite;
}

header .fas {
    color: #d8d6d6;
}

.navbar-toggler span:hover {
    animation: none;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.navbar {
    background-color: #212121;
}

img {
    float: left;
    margin-right: 10px;
}

#sidebar {
    display: none;
    border-radius: 5px;
    min-width: 200px;
    max-width: 200px;
    background: #263238;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: relative;
    position: fixed;
    top: 49px;
    right: 8px;
    z-index: 999;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
}

#sidebar ul {
    margin-bottom: 0;
}

#sidebar ul li {
    font-size: 14px;
    font-weight: bold;
}

#sidebar ul li a {
    padding: 15px 30px;
    display: block;
    color: #d8d6d6;
    border-bottom: 1px solid rgba(255, 255, 255, .05);
    text-shadow: 0px 1px 1px black;
    margin-left: 15px !important;
}

#sidebar ul li:nth-child(5) {
    border-bottom: 1px solid #d8d6d6;
}

#sidebar ul li a:before {
    content: "";
    width: 32px;
    display: inline-block;
    height: 22px;
    background-size: 22px !important;
    background-repeat: no-repeat !important;
    position: absolute;
    margin-left: -38px;
    filter: drop-shadow(1px 1px 1px black);
}

#sidebar ul li:nth-child(4) a:before {
    background: url("/static/images/snapcraft.svg");
}

#sidebar ul li:nth-child(5) a:before {
    background: url("/static/images/flatpak_logo.png");
}

#sidebar ul li:nth-child(3) a:before {
    background: url("/static/images/package.svg");
}

#sidebar ul li:nth-child(2) a:before {
    background: url("/static/images/applications.svg");
}

#sidebar ul li:nth-child(1) a:before {
    background: url("/static/images/featured.svg");
}

#sidebar ul li:nth-child(6) a:before,
#sidebar ul li:nth-child(7) a:before,
#sidebar ul li:nth-child(8) a:before,
#sidebar ul li:nth-child(9) a:before,
#sidebar ul li:nth-child(10) a:before {
    border-radius: 100%;
    background-color: #d72263;
    width: 6px;
    height: 6px;
    margin-top: 8px;
    margin-left: -27px;
}

#sidebar ul li:hover {
    background-color: #eeeeee;
}

#sidebar ul li:first-child:hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#sidebar ul li:last-child:hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#sidebar ul li a:hover {
    color: #3e464e;
    text-shadow: none !important;
    text-decoration: none;
}

#sidebar ul li:nth-child(6) a:before {
    background-color: #4db6ac;
}

#sidebar ul li:nth-child(7) a:before {
    background-color: #ff8a65;
}

#sidebar ul li:nth-child(9) a:before {
    background-color: #64b5f6;
}

#sidebar ul li:nth-child(8) a:before {
    background-color: #ffee58;
}

#sidebar ul li:nth-child(10) a:before {
    background-color: #ef5350;
}

.featured .jumbotron:first-child {
    padding-bottom: 20px !important;
    background-color: #d72263;
    background-image: linear-gradient(120deg, #d72263 0%, #fa691a 90%);
}

.featured .jumbotron:first-child p:last-child {
    font-size: 0.8rem;
}

.featured .row .jumbotron:nth-child(5) {
    background-color: #3949ab;
    background-image: linear-gradient(120deg, #3949ab 0%, #1e88e5 90%);
}

.featured .row .jumbotron:nth-child(15) {
    background-color: #00897b;
    background-image: linear-gradient(120deg, #00897b 0%, #00acc1 90%);
}

.featured .row .jumbotron:nth-child(10) {
    background-color: #e53935;
    background-image: linear-gradient(120deg, #e53935 0%, #ffc107 90%);
}

.featured .jumbotron {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 1px 1px #4d4d4d;
}

.featured .jumbotron .col p:nth-of-type(3) {
    margin-top: 40px;
    font-size: 0.8rem;
}

.featured .jumbotron img {
    width: 80%;
    float: none;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.featured .jumbotron .row div {
    color: white;
}

.featured #sidebar ul {
    padding-top: 0;
}

.navbar .nav-link:hover {
    color: #212529 !important;
    background: white !important;
}

.app .description {
    font-size: 0.8rem;
    color: #504f4f;
}

.app .website {
    color: #e91e63;
}

.app .title {
    color: #272727;
}

h4 {
    font-size: 1.2rem !important;
}

footer a,
footer a:hover,
footer a:active,
footer a:focus {
    color: #e91e63;
}

footer {
    font-size: 0.8rem !important;
}

@media (min-width: 1200px) {
    .app {
        margin-bottom: 80px;
    }

    .featured .app {
        margin-top: 80px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .featured main {
        margin-top: 30px !important;
    }
}

@media (min-width: 576px) {
    .search-icon {
        display: none;
    }
}

@media (max-width: 575px) {

    footer {
        padding-left: 10px;
        padding-right: 10px;
    }

    h2 {
        display: none;
    }

    .featured main {
        margin-top: -20px !important;
    }

    .featured .jumbotron:not(:first-child) .row div {
        padding-right: 25px;
        padding-left: 25px;
    }

    .search-box {
        position: absolute;
        right: 72px;
        left: 36px;
        background-color:#212121;
        padding: 5px;
        display: none;
        text-align: center;
        display: none;
    }

    .search-icon {
        display:block;
    }
}

@media (min-width: 768px) {
    main {
        margin-left: 1.6rem !important;
        margin-right: 1.6rem !important;
    }

    .featured main {
        margin-top: -20px !important;
    }

    .applications main,
    .packages main,
    .snaps main,
    .flatpaks main {
        margin-top: 42px;
    }
}

@media (max-width: 767px) {
    body {
        background-image: none;
    }

    .featured .jumbotron {
        border-radius: 0 !important;
    }

    .featured .jumbotron:first-child {
        margin-top: 0px;
    }

    .app {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    footer div:first-child {
        margin-bottom: 20px;
    }

    .applications main,
    .packages main,
    .snaps main,
    .flatpaks main {
        margin-top: 32px;
    }
}

@media (max-width: 991px) {
    .featured .jumbotron img {
        margin-top: 20px;
    }
}

@media (max-width: 1199px) {
    .app {
        margin-bottom: 2rem;
    }
}