body {
    overflow: auto !important;
    background-color: #212121;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 3rem;
}

main {
    padding-bottom: 64px;
    user-select: none;
}

.navbar-fixed {
    margin-bottom: 15px;
}

code {
    user-select: text;
}

.screenshot:not(.screenshot.active) {
    height: 246px;
    margin: 0 auto;
}

.card {
    position: relative;
    overflow: hidden;
    height: 246px;
}

.card .btn {
    z-index: 90;
}

.app-logo {
    width: 48px;
    filter: drop-shadow(1px 1px 1px black);
}

.logo-container {
    text-align: center;
    width: 100%;
    display: block;
}

.btn-add {
    right: 16px;
    bottom: 14px;
    position: absolute;
}

.single-package .btn-add {
    right: 0;
    bottom: 0;
    position: relative;
}

.card .col:first-child {
    background-color: transparent !important;
    background-image: linear-gradient(to left, #00897b, #00695c);
    text-align: center;
    height: 246px;
}

.card .col.screenshot {
    padding-left: 0;
}

.card-title {
    display: block;
    text-align: center;
}

.card {
    border-radius: 5px;
}

.card-title a {
    text-transform: none !important;
    color: white !important;
    margin-right: 0 !important;
}

.card-title a:hover,
.card-title a:active {
    text-decoration: underline !important;
}

.btn-menu {
    position: fixed;
    bottom: 0;
    left: 75px;
}

.sidenav .logo img {
    width: 120px;
    filter: drop-shadow(1px 1px 1px white) drop-shadow(-1px -1px 1px white);
}

.sidenav h1 {
    margin-top: 0 !important;
}

.sidenav .logo {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.sidenav .subheader {
    color:  #1de9b6 !important;
}

.discover-description {
    padding-left: 10px;
    padding-right: 10px;
    line-height: initial;
}

.search-container a,
.search-container i {
    cursor: pointer;
}

.single-icon {
    width: 100px;
    padding-right: 20px;
    margin-bottom: -28px;
}

.carousel .indicators {
    background-color: rgba(0, 0, 0, 0.5);
}

.single-package, .maintenance {
    background-color: #00897b;
}

.maintenance .search-container .row,
.single-package .search-container .row {
    height: 69px !important;
    background-color: #f5f5f5;
}

.maintenance {
    background-image: url(/static/images/background.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    background-attachment: initial;
}


.background {
    position: fixed;
    height: 50%;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.single-package .col p {
    padding: 10px;
}

.single-package .container div:nth-child(3) .col p:first-child {
    margin-top: 0;
}

.single-package .container div:nth-child(3) {
    margin-bottom: 0;
}

.carousel .indicators {
    top: 0;
    bottom: auto;
    box-shadow: -1px 1px 10px #212121;
    background-color: rgba(0, 137, 123, 0.90);
    left: 65%;
    right: 0;
    border-bottom-left-radius: 50px;
}

#btn-up {
    position: fixed;
    bottom: 10px;
    right: 5px;
    z-index: 99;
}

.materialboxed {
    position: absolute;
    right: 0;
    left: 68%;
}

.toggle-arrow {
    position: absolute;
    top: 0;
    transform: translateX(276px);
    background-color: #212121;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    color: #fafafa;
    height: 64px;
    cursor: pointer;
    user-select: none;
    z-index: -1;
}

.sidenav.open .toggle-arrow span{
    transform: rotate(180deg);
}

.toggle-arrow span {
    font-size: 64px;
}

.sidenav a {
    font-size: 16px;
}

.sidenav i:not(.subheader) {
    color: #4fc3f7 !important;
}

.sidenav a:not(.git):not(.subheader),
.sidenav p,
.sidenav h1 {
    color: #fafafa  !important;
}

.sidenav h1 {
    font-size: 20px !important;
}

.sidenav * {
    font-weight: bold !important;
}

.overflow-scroll {
    overflow: scroll;
    height: 100vh;
}

.sidenav {
    overflow: visible;
    width: 280px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.sidenav li > a {
    padding: 0 10px;
}

.sidenav.open {
    transform: translateX(0);
}

#clear-search {
    cursor: pointer;
} 

.autocomplete-content img {
    width: 40px !important;
    height: 40px !important;
}

.label-icon i:last-child {
    cursor: pointer;
}

.autocomplete:not(:active) {
    color: white;
}

.autocomplete-content {
    width: 100% !important;
}

.hide {
    display: none !important;
}

nav .input-field label.active i {
  color: inherit !important;
}

nav .input-field label.active i:first-child {
    display: none;
  }


nav .input-field label i:last-child {
    display: none;
    margin-top: -2px;
  }

.software-center nav .input-field label.active i:last-child {
    display: block;
  }

.user-view {
    padding-top: 5px !important;
}

@media only screen and (min-width: 600px) {
    .software-center main,
    .flatpaks main,
    .snaps main {
        transition: margin-left 0.3s ease-in-out;
    }

    .software-center main.nav-open,
    .flatpaks main.nav-open,
    .snaps main.nav-open {
        margin-left: 280px;
    }

    .label-icon {
        margin-top: -10px;
        margin-left: 64px;
    }

    .autocomplete {
        padding-left: 100px !important;
    }

    .single-package .row .col:first-child p {
        min-height: 300px;
    }
}

.collapsible {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: none;
    border: none;
    user-select: none;
    margin-top: 0;
}

.collapsible-body {
    background-color: white;
    padding-top: 0;
    max-height: calc(90vh + 9px);
    overflow: scroll;
}

#install-btn {
    top: -2px;
}

#install-btn i {
    margin-left: 1px;
}

#install-list {
    box-shadow: none;
}

.collapsible-header {
    border-bottom: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    height: 64px;
    padding-top: 19px;
    box-shadow: none;
}

.collapsible-header #items-count {
    margin-top: 2px;
    margin-left: 14px;
}

.collapsible-body p {
    color: rgba(0,0,0,0.42);
}

#items-count {
    margin-right: 60px;
}

.data-search.valign-wrapper {
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.data-search.valign-wrapper div {
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 600px) {
    .toggle-arrow span {
        font-size: 56px;
    }
    .toggle-arrow {
        height: 56px;
    }
    .single-package .indicators {
        display: none !important;
    }

    .label-icon {
        margin-top: -10px;
        margin-left: 54px;
    }

    .autocomplete {
        padding-left: 90px !important;
    }
}